/* PRIMARY COLOR - #3a606e */
/* GREY COLOR - #ebeff1 */


* {
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
}
body {
    max-width: 700px;
    margin: 10rem auto;
    font-family: 'Karla', sans-serif;
    color: #3a606e;
}
.container{
    box-shadow: 0 0 2rem 0.2rem rgba(0, 0, 0, 0.2);
    position: relative;
}
.header-container{
    background-color: #3a606e;
    padding: 1.2rem;
    text-transform: uppercase;
    color: #ebeff1;
}
.heading{
    text-transform: uppercase;
    color :#ebeff1;
    font-size: 2.8rem;
}

img{
    max-width: 100%;
    margin: 0;
    max-height: 100%;
}

.btn-cta{
    background-color: black;
    color: #ebeff1;
    padding: 1.2rem;
    text-transform: uppercase;
    text-align: center;
    align-self: center;
}

.product-price{
    font-size: 3.2rem;
    margin-top: 1rem;
}

.product-shipping{
    text-transform: uppercase;
    font-size: 1.2rem;
    margin-top: 1.5rem;
    font-weight: 60rem;
    color: #444;
}

.product-details-text{
    padding-top: 1.2rem;
    font-size: 2rem;
    font-weight: 500;
    /* margin-top: 5px; */
    color: #3a606e;
}

.product-details-list{
    padding-left: 2rem;
    padding-right: 1.2rem;
    line-height: 1.5;
}

.dots{
    width: 1.2rem;
    height: 1.2rem;
    /* padding-left: 12px; */
    margin-bottom: 2rem;
}
.dot--1{
    background-color: black;
}
.dot--2{
    background-color: rgb(249, 11, 11);
}
.dot--3{
    background-color: rgb(206, 240, 11);
}
.dot--4{
    background-color: rgb(13, 235, 46);
}
.dot--5{
    background-color: rgb(69, 16, 244);
}
.dot--6{
    background-color: rgb(231, 155, 24);
}

.more-info-link{
    margin-top: 1rem;
    display: block;
    text-decoration: none;
    font-size: 1.1em;
}

.tag-sale{
    position: absolute;
    left: 0;
    top: 0;
    background-color: red;
    box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.2);
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-transform: uppercase;
    color: #fff;
    transform: rotate(-45.5deg);
    font-weight: 600;
}


@media screen and(max-width : 1200px){
    html{
        font-size: 62.5%;
    }
    body{
        background-color: red;
    }
}
@media screen and(max-width : 1080px){
    html{
        font-size: 50%;
    }
    body{
        background-color: green;
    }
}
@media screen and(max-width : 760px){
    html{
        font-size: 42%;
    }
    body{
        background-color: yellow;
    }
}
@media screen and(max-width : 1200px){
    html{
        font-size: 42%;
    }
    body{
        background-color: blue;
    }
}