* {
    margin: 0;
    padding: 0;
}

body{
    width: 600px;
    margin: 100px auto;
    font-family: 'Rubik', sans-serif;
}
.accordian{
    display: flex;
    flex-direction: column;
    row-gap: 16px;
}
.item{
    display: grid;
    grid-template-columns: auto 2fr auto;
    color: #444;
    padding: 12px;
    column-gap: 10px;
    row-gap: 16px;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.1);
}
.item.open{
    border-top: 4px solid #9EBC9F;
}
.number {
    font-weight: 700;
    color: lightgrey;
}
.number, .heading {
    font-size: 24px;
    color: lightgrey;
}   

.open .number, .open .heading {
    color: #9EBC9F;
}
.box {
    grid-column: 2 / 3;
    display: none;
}

.open .box {
    display: block;
}
.icon{
    width: 24px;
    height: 24px;
    stroke: #9EBC9F;
}
.content {
    margin-bottom: 10px;
    font-size : 18px
}
.list-group {
    margin-left: 16px;
    font-weight: 300;
    line-height: 1.2;
}